[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Quirk0o (Quirk0o)
[access "refs/for/refs/*"]
	read = group user/Quirk0o (Quirk0o)
	push = group user/Quirk0o (Quirk0o)
	label-Code-Review = -2..+2 group user/Quirk0o (Quirk0o)
	label-Verified = -1..+1 group user/Quirk0o (Quirk0o)
	rebase = group user/Quirk0o (Quirk0o)
	removeReviewer = group user/Quirk0o (Quirk0o)
	submit = group user/Quirk0o (Quirk0o)
[access "refs/heads/*"]
	read = group user/Quirk0o (Quirk0o)
	create = group user/Quirk0o (Quirk0o)
	push = +force group user/Quirk0o (Quirk0o)
	pushMerge = group user/Quirk0o (Quirk0o)
[access "refs/tags/*"]
	push = +force group user/Quirk0o (Quirk0o)
	pushTag = group user/Quirk0o (Quirk0o)
	pushSignedTag = group user/Quirk0o (Quirk0o)
